@import '../styles/constants';

:host {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  height: 100%;
  width: 100%;
}


.outlet {
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}