<!-- Partie NavBar -->
<nav class="custom-navbar">
  <div class="navbar-left">
    <img src="assets/static/logo_Agamis" alt="Ici le logo d'agamis" class="navbar-logo">
    <h2>agamis</h2>
  </div>

  <form class="navbar-search">
    <input type="search" placeholder="Rechercher">
  </form>

  <div class="navbar-right">
    <div class="nav-item">
      <a href="#" name="entreprise">
        <i class="fa-sharp fa-regular fa-building"></i>
        <label for="entreprise">Mon Entreprise</label>
      </a>
    </div>
    
    <div class="nav-item">
      <a href="#" name="notif">
        <i class="fa-regular fa-user"></i>
        <label for="notif">Notifications</label>
      </a>
    </div>
    
    <div class="nav-item">
      <a href="#" name="profile">
        <i class="fa-regular fa-bell"></i>
        <label for="profile">Se Connecter</label>
      </a>
    </div>
  </div>
</nav>

<!-- Partie Tab
<div class="custom-tabs">
  <button (click)="selectTab(1)" [class.active]="activeTab === 1">Sessions</button>
  <button (click)="selectTab(2)" [class.active]="activeTab === 2">Applications</button>
</div>

<div class="tab-content">
  <div *ngIf="activeTab === 1">
    Contenu de l'onglet 1
  </div>
  <div *ngIf="activeTab === 2">
    Contenu de l'onglet 2
  </div>
</div> -->
