
<!-- sidebar.component.html -->
<aside class="sidebar">
    <div class="logo-container">
      <img *ngIf="avatarSrc;" [src]="avatarSrc" class="avatar-icon-side">
      
      <label class="Settings">User Settings</label>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <li>
          <a routerLink="/profile" routerLinkActive="active"><!-- Shape: svg-path-98 -->
            <app-svg-logo-user-default class="icons"></app-svg-logo-user-default>
            Profile
          </a>
          
        </li>
        <li>
          <a routerLink="/account" routerLinkActive="active"><!-- Shape: svg-path-11 -->
            <app-svg-icone-account class="icons"></app-svg-icone-account>
            Account 
          </a>
        </li>
        <li>
          <a routerLink="/organization" routerLinkActive="active"><!-- Shape: svg-path-12 -->
            <app-svg-logo-entreprise class="icons"></app-svg-logo-entreprise>
            My organizations 
          </a>
        </li>
        <li>
          <a routerLink="/notifications" routerLinkActive="active"><!-- Shape: icon -->
            <app-svg-icone-notification-outline class="icons"></app-svg-icone-notification-outline>
            Notifications
          </a>
        </li>
        <li>
          <a routerLink="/sessions" routerLinkActive="active"><!-- Shape: apps-6 -->
            <app-svg-icone-sessions class="icons"></app-svg-icone-sessions>
            Sessions 
          </a>
        </li>
        <!-- Plus de liens ici -->
      </ul>
    </nav>
  </aside>
  