
<!-- Partie NavBar -->
<nav class="navbar">
  <!-- Section gauche de la barre de navigation : contient le logo et le titre -->
  <div class="logo-agamis">
    <!-- Icône SVG du logo agamis -->
      <agamis-ws-lib-svg-agamis-logo [fillColor]="Color.LIGHT"></agamis-ws-lib-svg-agamis-logo>
      <agamis-ws-lib-svg-agamis-text [fillColor]="Color.LIGHT" ></agamis-ws-lib-svg-agamis-text>
  </div>
<!-- Barre de recherche -->
<form class="navbar-search">
  <!-- Conteneur pour la barre de recherche -->
  <div class="search-container">
     <!-- Icône de recherche SVG à l'intérieur de la barre de recherche -->
      <agamis-ws-svg-search class="imageSearch"></agamis-ws-svg-search>
       <!-- Champ de saisie pour la recherche -->
      <input type="search" [(ngModel)]="searchText" placeholder="Entrer le nom d'un fichier" [ngModelOptions]="{standalone: true}" >
       <!-- Button to clear the search field or close -->
      <button class="clear-search" (click)="clearSearch()" >×</button>
    
    </div>
  </form>

 <!-- Section droite de la barre de navigation : contient des liens et le menu utilisateur -->
 <div class="navbar-right">
  <!-- Item pour 'Mon Entreprise' avec icône et texte -->
  <div class="nav-item">
      <a href="#" id="entreprise">
        <agamis-ws-svg-community/>
        <label for="entreprise">{{orgInfo?.label}}</label>
      </a>
    </div>

    <!-- Item pour 'Notifications' avec icône et texte -->
    <div class="nav-item">
      <a href="#" id="notif">
        <agamis-ws-svg-notification/>
      </a>
    </div>
    
    <!-- Menu utilisateur déroulant -->
    <div class="nav-item">
      <div class="nav-item dropdown">
        
        <!-- Bouton pour basculer le menu utilisateur -->
        <div  class="dropdown-toggle" (click)="toggleUserMenu($event)">
          <!-- Avatar et nom d'utilisateur -->
          <div class="user-details">
            <p class="pseudo">{{userInfo?.username}}</p>
            <img alt="icone" *ngIf="avatarSrc; else defaultAvatar" [src]="avatarSrc" class="avatar-icon-nav">
            <ng-template #defaultAvatar>
              <agamis-ws-svg-user-default></agamis-ws-svg-user-default>
            </ng-template>
            
          </div>
        </div>
        
        <!-- Menu déroulant utilisateur qui apparaît au clic -->
        <div class="dropdown-menu" *ngIf="showUserMenu" style="display: block; position: absolute; z-index: 1000; background: white; border: 1px solid black;">
          <div class="user-info">
            <span class="user-email">{{userInfo?.profile?.mainEmail}}</span>
            <span class="user-projects">Projects: {{ userInfo?.profile?.projectsNbr}}</span>
          </div>
          <ul class="menu-items">
            <li><button >Profile</button></li>
            <li><button (click)="openAccountSettings()">Account settings</button></li>
            </ul>
        </div>
      </div>
      
    </div>
  </div>
</nav>

