<!-- <aside>
  <app-sidebar></app-sidebar>
</aside> -->

<div class="profile-settings-container">

  <!-- Profile Picture Section -->
  <section class="profile-picture">
    <div class="profile-text-container">
    <h2>Profile picture</h2>
    <p>this setting lets you change your avatar for the curent organization(Tyria's heroes). You can also remove it to use default avatar (Initials of your fullname).</p>
    </div>
    <div class="profile-picture-container">
      <img src="avatar.png" alt="Profile picture">
      <p>Upload another avatar</p>
      <input class= "frame" type="file">
      <p>Maximum file size allowed : 500KB</p>
    </div>
  </section>

  <!-- Localization Section -->
  <section class="localization">
    <div class="localization-text-container">
    <h2>Localization</h2>
    <p>Change the localization of your application experience. You can change the default language as well as Timezone.</p>
    </div>
    <div class="localization-container">
    <div class="div-timezone">
      <label for="timezone">Timezone</label>
      <div class="select-timezone">
      <select  name="timezone" id="timezone">
        <option value="Europe/Paris">Paris, France</option>
        <option value="America/New_York">New York, USA</option>
        <option value="Asia/Tokyo">Tokyo, Japan</option>
        <!-- Additional timezone options -->
      </select>
      <p>Controls workspace and applications timezone.</p>
      </div>
    </div>


      <div class="div-language">
      <label for="language">Language</label>
      <div class="select-language">
      <select  name="language" id="language">
        <option value="en">English</option>
        <option value="fr">French</option>
        <option value="ja">Japanese</option>
        <!-- Additional language options -->
      </select>
      <p>Controls workspace language & default language for applications.</p>
    </div>
    </div>
    </div>
  </section>

  <!-- General Profile Settings Section -->
  <section class="frame-12">
    <div class="general-text-settings-container">
    <h2 class="title-5 ">General profile settings</h2>
    <p class="desc-3" >These informations are visible from the collaborators of your organization.</p>
    </div>
    <div class="general-profile-settings-container">
      <div class="fullname-grp-1 ">
        <label class="timezone-label-3" for="fullname">Fullname</label>
        <div>
          <input class="rect-45" type="text" name="fullname" id="fullname" value="Chauncey Von Snuffies">
        </div>
        <p class="desc-5">this is your name, display as is, so people can know who you are.</p>
      </div>
      <div class="email-grp-1 ">
        <label class="timezone-label-2" for="email">Email</label>
        <div>
          <input type="email" name="email" id="email" value="chauncey.vonanulapi@divinityareacritics.com">
        </div>
      </div> 
      <div class="general-job-title">
        <label for="jobtitle">Job title</label>
        
        <div>
          <input type="text" name="jobtitle" id="jobtitle" value="The Notorious Cat of Divinity's Area Critics">
        </div>
      </div>
      <div class="general-bio">
        <label for="bio">Bio</label>
        <textarea id="bio"></textarea> <!-- Added Bio textarea -->
      </div>
    </div>
  </section>
  <span class="separator-1"></span>

</div>

  