<!-- Partie NavBar -->
<nav class="custom-navbar">
  <!-- Section gauche de la barre de navigation : contient le logo et le titre -->
  <div class="navbar-left">
    <!-- Icône SVG du logo agamis -->
    <app-svg-logo-agamis class="icons"></app-svg-logo-agamis>
    <h2>agamis</h2>
  </div>
<!-- Barre de recherche -->
<form class="navbar-search">
  <!-- Conteneur pour la barre de recherche -->
  <div class="search-container">
     <!-- Icône de recherche SVG à l'intérieur de la barre de recherche -->
      <app-svg-image-search class="imageSearch"></app-svg-image-search>
       <!-- Champ de saisie pour la recherche -->
      <input type="search" placeholder="Rechercher">
    </div>
  </form>

 <!-- Section droite de la barre de navigation : contient des liens et le menu utilisateur -->
 <div class="navbar-right">
  <!-- Item pour 'Mon Entreprise' avec icône et texte -->
  <div class="nav-item">
      <a href="#" name="entreprise">
        <app-svg-logo-entreprise class="icons"></app-svg-logo-entreprise>
        <label for="entreprise">Mon Entreprise</label>
      </a>
    </div>

    <!-- Item pour 'Notifications' avec icône et texte -->
    <div class="nav-item">
      <a href="#" name="notif">
        <app-svg-logo-notification ></app-svg-logo-notification>
        
      </a>
    </div>
    
    <!-- Menu utilisateur déroulant -->
    <div class="nav-item">
      <div class="nav-item dropdown">
        
        <!-- Bouton pour basculer le menu utilisateur -->
        <div  class="dropdown-toggle" (click)="toggleUserMenu($event)">
          <!-- Avatar et nom d'utilisateur -->
          <div class="user-details">
            <p class="pseudo">Chauncey</p>
            <img *ngIf="avatarSrc; else defaultAvatar" [src]="avatarSrc" class="avatar-icon-nav">
            <ng-template #defaultAvatar>
              <app-svg-logo-user-default class="icons"></app-svg-logo-user-default>
            </ng-template>
            
          </div>
        </div>
        
        <!-- Menu déroulant utilisateur qui apparaît au clic -->
        <div class="dropdown-menu" *ngIf="showUserMenu" style="display: block; position: absolute; z-index: 1000; background: white; border: 1px solid black;">
          <div class="user-info">
            <span class="user-email">chauncey.von@snuffies.com</span>
            <span class="user-projects">Projects: 4</span>
          </div>
          <ul class="menu-items">
            <li><button (click)="openProfile()">Profile</button></li>
            <!-- <li><button (click)="openAccountSettings()">Account settings</button></li>
            <li><button (click)="openNotifications()">Notifications</button></li>
            <li><button (click)="openOrganization()">My organization</button></li>
            <li><button (click)="openSessions()">Sessions</button></li>
            <li><button (click)="openLogout()">Logout</button></li> -->
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</nav>


<!-- Conteneur pour les onglets dynamiques -->
<div class="custom-tabs">
 <!-- Boucle pour afficher les onglets dynamiquement -->
<ng-container *ngIf="!(isTabListEmpty())">
    <!-- Bouton pour chaque onglet -->
  <button *ngFor="let tab of tabs" (click)="selectTab(tab.id)" [class.active]="(activeTab$ | async) === tab.id">
    {{ tab.title }}
    <!-- Bouton pour fermer l'onglet -->
    <span class="remove-tab" (click)="removeTab(tab.id)">×</span>
  </button>
  
</ng-container>

  <!-- Bouton et formulaire pour ajouter un nouvel onglet -->
  <div class="add-tab-button">
    <!-- Bouton pour afficher le formulaire d'ajout d'un nouvel onglet -->
    <button *ngIf="!showNewTabInput" (click)="showNewTabInput = true">+</button>
    <!-- Formulaire pour entrer le titre du nouvel onglet -->
    <div *ngIf="showNewTabInput" class="add-tab-form">
      <input type="text" [(ngModel)]="newTabTitle" placeholder="Nom du nouvel onglet">
      <!-- Bouton pour ajouter l'onglet -->
      <button (click)="addTab()">Ajouter</button>
      <!-- Bouton pour annuler l'ajout d'un nouvel onglet -->
      <button (click)="showNewTabInput = false">Annuler</button>
    </div>
  </div>
  
</div>

<!-- Message indiquant qu'aucun onglet n'est présent -->
<div *ngIf="isTabListEmpty()" class="empty-tab-message">
  <p>Aucun onglet présent. Cliquez sur '+' pour ajouter un nouvel onglet.</p>
</div>




 <!-- Contenu des onglets -->
<!-- <div class="tab-content">
  <div *ngIf="activeTab === 1">
    Contenu de l'onglet Sessions
  </div>
  <div *ngIf="activeTab === 2">
    Contenu de l'onglet Applications
  </div>
  Vous pouvez ajouter plus de contenu pour d'autres onglets ici 
</div> -->

<!-- Affichage conditionnel du contenu de l'onglet actif -->
<ng-container *ngFor="let tab of tabs">
  <div class="tab-content" *ngIf="(activeTab$ | async) === tab.id">
     <!-- Charge le ProfileTabComponent si le composant associé à l'onglet est ProfileTabComponent -->
    <ng-container *ngIf="tab.component === 'ProfileTabComponent'">
      <div class="profile-layout">
        <aside class="sidebar">
          <app-sidebar-tab></app-sidebar-tab>
        </aside>
        <app-profile-tab></app-profile-tab>
      </div>
    </ng-container>
  </div>
</ng-container>
