$colors: (
    primary-one: #1E1E1E,
    primary-two: #FFD03B,
    primary-three: #5266FF,
    secondary-one: #FFA8DE,
    secondary-two: #F79147,
    success: #57AA4F,
    error: #CB2828,
    light: #F5F1E4,
    soft-anchoring: #EAE5D6,
    soft-emphasis: #D4CEBF,
    strong-emphasis: #52575C
);
