@import '../../../../styles/constants';

.custom-tabs {
  display: flex;
  height: 44px;
  align-items: flex-end;
  justify-content: flex-start;
  background-color: map-get($colors, primary-two);
  position: relative; 

  .button {
    background-color: map-get($colors, soft-anchoring);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color:  map-get($colors, primary-one);
    clip-path: polygon(
      0% 100%, 
      10% 0%, 
      90% 0%, 
      100% 100%
    ); // Applique une forme ondulée aux côtés des boutons
    border-top-left-radius: 20px; // Arrondit le coin supérieur gauche
    border-top-right-radius: 20px; // Arrondit le coin supérieur droit
    

    &.active {
      background-color: map-get($colors,soft-anchoring);
      color: map-get($colors,primary-one);
    }
  }
}



