@import '../../../../styles/constants';

.custom-tabs {
  display: flex;
  height: 53px;
  justify-content: flex-start;
  background-color: map-get($colors, primary-two);
 
  .button {
    align-self: flex-end; // Aligner le bouton à la fin (bas) du conteneur flex
    background-color: map-get($colors, soft-emphasis);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color:  map-get($colors, primary-three);
    clip-path: polygon(
      0% 100%, 
      10% 0%, 
      90% 0%, 
      100% 100%
    ); // Applique une forme ondulée aux côtés des boutons
    border-top-left-radius: 20px; // Arrondit le coin supérieur gauche
    border-top-right-radius: 20px; // Arrondit le coin supérieur droit

    &.active {
      background-color: map-get($colors,soft-anchoring);
      color: map-get($colors,primary-one);
    }
  }
}



