
  
a
  text-decoration: none

.app
  height: 100%

h3,h2,h1,p
  font-family: 'Poppins', sans-serif
  color: #f5f1e4

.menu_title
  margin-top: 1em

.projects_title
  margin-top: 0.5em
  margin-bottom: 0.75em

.small_arrow_buttons
  float: right
  margin-right: 0.5em

.sidebar
  // display: none
  font-family: 'Poppins', sans-serif
  position: absolute
  width: 17em
  height: 100%
  top: 0
  margin: 0
  overflow: hidden
  background-color: #1e1e1e
  -webkit-transform: translateZ(0)
  visibility: visible
  -webkit-backface-visibility: hidden
  z-index: -1

  header
    width: 100%
    display: block
    padding: 0.75em 1em

    h2
      margin-bottom: 0
    
    

.sidebar-nav
  font-family: 'Poppins', sans-serif
  position: left
  background-color: #1e1e1e
  height: 100%
  font-weight: 400
  font-size: 1.5em
  overflow: auto
  padding-bottom: 6em
  z-index: 10
  overflow: hidden
  -webkit-overflow-scrolling: touch

  
  ul
    list-style: none
    display: block
    padding: 0
    margin: 0

    li
      margin-left: 0
      padding-left: 0
      display: inline-block
      width: 100%

      a
        color: #f3efe2
        background-color: #313131
        border-radius: 0em 2em 2em 0em
        font-size: 0.75em
        padding: 1em 1em 1em .75em
        position: relative
        display: block
        margin-bottom: .5em
        margin-top: .5em
        margin-right: 2em

        &:hover
          background-color: #f79147

      i
        font-size: 1.8em
        padding-right: 0.5em
        width: 9em
        display: inline
        vertical-align: middle

.nav-flyout
  display: none  
  position: absolute
  background-color: #313131
  z-index: 10
  left: 17em
  width: 19em
  top: 0
  height: 100%
  list-style: none
  padding-left: 0
  margin-top: 0
  
  ul
    padding: 0
    list-style-type: none

    li
    margin-left: 0
    padding-left: 0
    display: inline-block
    width: 100%

    a, p
      color: #f3efe2
      background-color: #52575c
      border-radius: 0em 2em 2em 0em
      font-size: 0.75em
      padding: .1em
      padding-left: 1em
      position: relative
      display: block
      margin-bottom: .5em
      margin-top: .5em
      margin-right: 2em

    p
      font-size: 1.2em
      width: 85%

    .innerListNav-flyout
      min-height: 15rem

      li
        margin-left: 1em
        margin-right: 1em
        margin-bottom: -0.5em

        &:hover
          background-color: #f79147
          border-radius: 2em 2em 2em 2em

  

  h2
    font-family: 'Poppins', sans-serif
    color: #f5f1e4
    padding-left: .75em


// truc

// #hover_sidebar:hover + .nav-flyout
//       display: block